{% extends "backendLayout.html.twig" %}

{% block head %}
    {{ parent() }}
    <title>Standorte</title>
{% endblock %}
{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1>Standorte</h1>
                <table class="table table-striped table-dark">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Standort</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Aarau</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Baden</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}