{% extends "backendLayout.html.twig" %}

{% block head %}
    {{ parent() }}
    <title>Standorte</title>
{% endblock %}
{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1>Neuer Standort</h1>
                <form method="GET" action="index.php">
                    <input type="hidden" name="module" value="site">
                    <input type="hidden" name="controller" value="site">
                    <input type="hidden" name="action" value="createCity">
                    <div class="form-group">
                        <label>Name</label>
                        <input name="data[name]" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Adresse</label>
                        <input name="data[address]" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Plz</label>
                        <input name="data[zip]" class="form-control" type="text">
                    </div>
                    <input class="btn btn-outline-dark"  type="submit" value="Erstellen">
                </form>
            </div>
        </div>
    </section>
{% endblock %}