{% extends "backendLayout.html.twig" %}

{% block head %}
    {{ parent() }}
    <title>Standorte</title>
{% endblock %}
{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1>Neuen Markstand</h1>
                <form>
                    <form action="index.php">
                        <input type="hidden" name="module" value="site">
                        <input type="hidden" name="controller" value="site">
                        <input type="hidden" name="action" value="createPlace">
                        <input type="hidden" name="data[cityId]" value="{{ cityId }}">
                        <div class="form-group">
                            <label>Länge</label>
                            <input name="data[length]" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label>Breite</label>
                            <input name="data[width]" class="form-control" type="text">
                        </div>
                        <input class="btn btn-outline-dark"  type="submit" value="Erstellen">
                    </form>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

