{% extends "backendLayout.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                Herzlich Wikommen beim Wochenmarkt
            </div>
            <div class="col-3">
                <a href="index.php?module=site&controller=site&action=list">Standorte</a>
            </div>
            <div class="col-3">
                <a href="index.php?module=user&controller=user&action=list">Benutzer</a>
            </div>
            <div class="col-3">
                <a href="index.php?module=company&controller=company&action=list">Firmen</a>
            </div>
        </div>
    </section>
{% endblock %}