<html>
    <head>
        {% block head %}
            <link rel="stylesheet" type="text/css" href="Assets/build.css">
            <script src="Assets/main.js"></script> 
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="index.php">Market</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?module=site&controller=site&action=list">Standorte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?module=user&controller=user&action=list">Benutzer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?module=company&controller=company&action=list">Firmen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?module=abo&controller=abo&action=list">Abo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?module=reservation&controller=reservation&action=list">Reservation</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>